In [130]:
# LIBRERIAS BASE

from google.colab import files
import pandas as pd
import numpy as np
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [131]:
def calculate_vif_(X):
    variables = list(range(X.shape[1]))
    vif = [variance_inflation_factor(X.iloc[:, variables].values, ix)
               for ix in range(X.iloc[:, variables].shape[1])]
    print(X.columns[variables])
    return vif

In [132]:
#DATA LOADING & PREVIEW

url = 'https://raw.githubusercontent.com/FramiFlores/Data_Mining/main/TrabajoFinal_Base5_Prueba.csv'
#df = pd.read_csv(url,sep=';')
df = pd.read_csv(url,sep=';', encoding='latin-1')
df.head()

   CoDIGO PERSONA                   EMPRESA  ...  DOCENTE/INSTITUCIoN ASISTENCIA
0         6502315  Rimac Seguros y Reasegrs  ...          Cesar Acuña    ASISTIO
1         6538167  Rimac Seguros y Reasegrs  ...          Cesar Acuña    ASISTIO
2         6508822  Rimac Seguros y Reasegrs  ...          Cesar Acuña    ASISTIO
3         6532663  Rimac Seguros y Reasegrs  ...          Cesar Acuña      FALTO
4         6538342  Rimac Seguros y Reasegrs  ...          Cesar Acuña    ASISTIO

[5 rows x 17 columns]

In [137]:
#DATA PREPARATION (VERY IMPORTANT TO DIFFERENTIATE "X" AND "DF")
X = df.drop(columns=['CoDIGO PERSONA','EMPRESA','SEGMENTO','HORAS POR CURSO','HORAS POR CURSO','INVERSION PERCAPITA (US$)','DOCENTE/INSTITUCIoN']) # PRIMERO ELIMINAR VARIABLES QUE NO VAN A IR EN EL ALGORITMO
X = pd.get_dummies(X)  # ACA SE CREAN DUMMIES (EN CASO HAYA ALGUNA VARIABLE CATEGORICA, SI NO HAY NO CREARA NADA)
X.head()

   EDAD  MES DE INICIO  ...  ASISTENCIA_ASISTIO  ASISTENCIA_FALTO
0    32              4  ...                   1                 0
1    25              4  ...                   1                 0
2    37              4  ...                   1                 0
3    29              4  ...                   0                 1
4    30              4  ...                   1                 0

[5 rows x 32 columns]

In [139]:
X = X.drop(columns=['CAPACIDAD_FEEDBACK','CAPACIDAD_SEGUROS'])   # EN CASO ESTEMOS CREANDO DUMMIES PARA CATEGORICAS SIEMPRE ELIMINAR 1 DE LAS N OPCIONES QUE SE CREAN (SOLO QUEDARIAN N-1 FLAGS POR CADA CATEGORICA)
X.head()

   EDAD  MES DE INICIO  ...  ASISTENCIA_ASISTIO  ASISTENCIA_FALTO
0    32              4  ...                   1                 0
1    25              4  ...                   1                 0
2    37              4  ...                   1                 0
3    29              4  ...                   0                 1
4    30              4  ...                   1                 0

[5 rows x 30 columns]

In [140]:
# ALGORITHM FIT

dep = 'CAPACITACION_DE_PAGA'  # ACA SOLO MODIFICAR LA VARIABLE DEPENDIENTE "dep", DEJAR TODO LO DEMAS IGUAL

mod = sm.Logit(X[dep], sm.add_constant(X.drop(columns=[dep])))
res = mod.fit()
print(res.summary())
print('')
print('VIF RESULTS')
print('')
calculate_vif_(X.drop(columns=[dep]))

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.000000
         Iterations: 35
                            Logit Regression Results
================================================================================
Dep. Variable:     CAPACITACION_DE_PAGA   No. Observations:                11110
Model:                            Logit   Df Residuals:                    11086
Method:                             MLE   Df Model:                           23
Date:                  Tue, 23 Mar 2021   Pseudo R-squ.:                   1.000
Time:                          03:39:38   Log-Likelihood:            -5.8704e-07
converged:                        False   LL-Null:                       -146.38
Covariance Type:              nonrobust   LLR p-value:                 1.325e-48
=========================================================================================================
                                            coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------
const                                    11.0647        nan        nan        nan         nan         nan
EDAD                                     -0.2146    202.994     -0.001      0.999    -398.075     397.646
MES DE INICIO                            -0.2228    934.069     -0.000      1.000   -1830.965    1830.520
TOTAL HORAS POR PERSONA                  -0.2213    235.872     -0.001      0.999    -462.522     462.080
SEXO_Femenino                             5.0967   2.37e+11   2.15e-11      1.000   -4.64e+11    4.64e+11
SEXO_Masculino                            5.9679   2.34e+11   2.55e-11      1.000   -4.58e+11    4.58e+11
SEGMENTO_PERSONAL_ADMINISTRATIVOS         4.0296   2.49e+10   1.62e-10      1.000   -4.88e+10    4.88e+10
SEGMENTO_PERSONAL_ATENCION AL CLIENTE     2.2496        nan        nan        nan         nan         nan
SEGMENTO_PERSONAL_GERENCIAL               2.6438        nan        nan        nan         nan         nan
SEGMENTO_PERSONAL_PRACTICANTE             2.1417        nan        nan        nan         nan         nan
NACIONAL/ EXTRANJERO_EXTRANJERO          -9.3967   4.33e+11  -2.17e-11      1.000    -8.5e+11     8.5e+11
NACIONAL/ EXTRANJERO_Extranjero           4.0921   4.34e+11   9.44e-12      1.000    -8.5e+11     8.5e+11
NACIONAL/ EXTRANJERO_NACIONAL             6.6826   4.33e+11   1.54e-11      1.000    -8.5e+11     8.5e+11
NACIONAL/ EXTRANJERO_Nacional             9.6866   4.33e+11   2.23e-11      1.000   -8.49e+11    8.49e+11
AGRUPADOR_BREIN                           2.6809        nan        nan        nan         nan         nan
AGRUPADOR_DESARROLLO                      0.9182        nan        nan        nan         nan         nan
AGRUPADOR_LEARNING                        7.4656        nan        nan        nan         nan         nan
CAPACIDAD_AGILE                           8.3756   5.06e+04      0.000      1.000   -9.91e+04    9.91e+04
CAPACIDAD_DATA ANALYTICS                 -3.9002   1.46e+04     -0.000      1.000   -2.87e+04    2.87e+04
CAPACIDAD_DIGITAL & TECH                  2.2239   6.87e+04   3.24e-05      1.000   -1.35e+05    1.35e+05
CAPACIDAD_EXPERIENCIA AL CLIENTE          0.4531   6.23e+06   7.27e-08      1.000   -1.22e+07    1.22e+07
CAPACIDAD_INNOVACION                      9.1541   1.41e+06   6.49e-06      1.000   -2.76e+06    2.76e+06
CAPACIDAD_LIDERAZGO                       4.0936   3.79e+04      0.000      1.000   -7.43e+04    7.43e+04
CAPACIDAD_NEGOCIO                         7.2957   4.49e+05   1.62e-05      1.000    -8.8e+05     8.8e+05
CAPACIDAD_OTROS                           1.8130   3.27e+06   5.55e-07      1.000    -6.4e+06     6.4e+06
CAPACIDAD_TOP SKILLS                      3.0051   1.32e+07   2.28e-07      1.000   -2.59e+07    2.59e+07
MODALIDAD_PRESENCIAL                      6.1585   2.31e+11   2.67e-11      1.000   -4.52e+11    4.52e+11
MODALIDAD_VIRTUAL                         4.9062   2.31e+11   2.13e-11      1.000   -4.52e+11    4.52e+11
ASISTENCIA_ASISTIO                       11.9358   7.77e+10   1.54e-10      1.000   -1.52e+11    1.52e+11
ASISTENCIA_FALTO                         -0.8711   7.77e+10  -1.12e-11      1.000   -1.52e+11    1.52e+11
=========================================================================================================

Complete Separation: The results show that there iscomplete separation.
In this case the Maximum Likelihood Estimator does not exist and the parameters
are not identified.

VIF RESULTS

/usr/local/lib/python3.7/dist-packages/statsmodels/base/model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/base/model.py:1286: RuntimeWarning: invalid value encountered in sqrt
  bse_ = np.sqrt(np.diag(self.cov_params()))
/usr/local/lib/python3.7/dist-packages/statsmodels/stats/outliers_influence.py:185: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)

Index(['EDAD', 'MES DE INICIO', 'TOTAL HORAS POR PERSONA', 'SEXO_Femenino',
       'SEXO_Masculino', 'SEGMENTO_PERSONAL_ADMINISTRATIVOS',
       'SEGMENTO_PERSONAL_ATENCION AL CLIENTE', 'SEGMENTO_PERSONAL_GERENCIAL',
       'SEGMENTO_PERSONAL_PRACTICANTE', 'NACIONAL/ EXTRANJERO_EXTRANJERO',
       'NACIONAL/ EXTRANJERO_Extranjero', 'NACIONAL/ EXTRANJERO_NACIONAL',
       'NACIONAL/ EXTRANJERO_Nacional', 'AGRUPADOR_BREIN',
       'AGRUPADOR_DESARROLLO', 'AGRUPADOR_LEARNING', 'CAPACIDAD_AGILE',
       'CAPACIDAD_DATA ANALYTICS', 'CAPACIDAD_DIGITAL & TECH',
       'CAPACIDAD_EXPERIENCIA AL CLIENTE', 'CAPACIDAD_INNOVACION',
       'CAPACIDAD_LIDERAZGO', 'CAPACIDAD_NEGOCIO', 'CAPACIDAD_OTROS',
       'CAPACIDAD_TOP SKILLS', 'MODALIDAD_PRESENCIAL', 'MODALIDAD_VIRTUAL',
       'ASISTENCIA_ASISTIO', 'ASISTENCIA_FALTO'],
      dtype='object')

[1.1399115670619164,
 2.46877894196018,
 1.1265192769963661,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 3.9757922411275146,
 2.7419988214128694,
 1.639583051123187,
 1.5292605550574565,
 4.236708629008874,
 1.6881478570795532,
 2.9502238722285146,
 1.1224487227033597,
 1.6765448913479302,
 inf,
 inf,
 inf,
 inf]